---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="inline opacity-75">
    Developed by<span class="font-bold"> William Lamuth </span>using <span class="font-bold">Astro</span>
  </div>
</footer>
<style></style>
