---
// You can define props here if needed
import { Image } from "astro:assets";
import SideBarFooter from "../components/SideBarFooter.astro";
---

<script>
  import {setupNavbar} from "../js/nav.js";
  setupNavbar();

  // toggle class for nav menu to toggle animation
  const menu = document.getElementById('hamburger-menu');
  menu?.addEventListener("click", function () {
    menu.classList.toggle("open");
  });
</script>


<div
  class="sticky top-0 z-30 flex h-18 w-full justify-center bg-white transition-all sm:shadow-none lg:shadow-md"
>
  <div class="navbar w-5/6 max-w-[100vw] mx-auto">
    <div class="navbar-start">
      <label for="my-drawer" class="btn btn-square btn-ghost hover:bg-[#d6e1db] rounded-full">
        <Image class="mask mask-circle" format="png" width={100} height={100} src="/HeadShot.png" style="width: 100%; height: auto;" alt="Profile image" />
      </label>
      <a class="btn btn-ghost normal-case text-lg hover:bg-[#d6e1db] rounded-full" href="/#top" id="william">William Lamuth</a>
      <SideBarFooter></SideBarFooter>
    </div>

    <!-- Hamburger Menu for mobile (lg:hidden) -->
    <div class="navbar-end w-full flex items-start sm:visible lg:hidden">
        <div id="hamburger-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
    </div>

    <!-- Menu links for large screens -->
    <div class="hidden lg:flex navbar-end">
      <a class="btn btn-ghost normal-case text-lg hover:bg-[#d6e1db] rounded-full" href="/#projects">Projects</a>
      <a class="btn btn-ghost normal-case text-lg hover:bg-[#d6e1db] rounded-full" href="/#about">About</a>
      <a class="btn btn-ghost normal-case text-lg hover:bg-[#d6e1db] rounded-full" href="/Resume2025.pdf" target="_blank">Resume</a>
    </div>
  </div>
</div>

<div id="navbar-mobile" class="sm:visible lg:hidden absolute w-screen bg-base-100 shadow-lg translate-y-[-100%] z-10 ease-in-out">
  <ul class="flex flex-col items-center gap-2 p-4">
    <li><a class="btn btn-ghost normal-case text-lg hover:bg-[#d6e1db] rounded-full" href="/#projects">Projects</a></li>
    <li><a class="btn btn-ghost normal-case text-lg hover:bg-[#d6e1db] rounded-full" href="/#about">About</a></li>
    <li><a class="btn btn-ghost normal-case text-lg hover:bg-[#d6e1db] rounded-full" href="/Resume2025.pdf" target="_blank">Resume</a></li>
  </ul>
</div>

<style>
  
  .nav-up{
    animation: moveUp 0.3s ease-in-out forwards;
  }

  .nav-down{
    animation: moveDown 0.3s ease-in-out forwards;
  }

  .nav-down a{
    animation: fadeIn .7s ease-in-out forwards;
  }

  @keyframes fadeIn {
    from{
      opacity: 20%;
    }
    to{
      opacity: 100%;
    }
  }


  @keyframes moveDown {
    0%{
      transform: translateY(-100%);
      clip-path: ellipse(60% 100% at top);
    }
    70%{
      clip-path: ellipse(100% 100% at top);
    }
    90%{
      clip-path: ellipse(180% 100% at top);
    }
    100%{
      transform: translateY(0);
    }
  }

  @keyframes moveUp {
    from{
      transform: translateY(0);
    }
    to{
      transform: translateY(-100%);
    }
  }

</style>


 <!-- Hamburger animtion -->
<style>

  #hamburger-menu {
  width: 25px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#hamburger-menu span {
  display: block;
  height: 5px;
  width: 100%;
  margin: 15%;
  background: #0b795a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#hamburger-menu {
}

#hamburger-menu span:nth-child(1) {
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger-menu span:nth-child(2) {
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger-menu span:nth-child(3) {
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger-menu.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-menu.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#hamburger-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
</style>








